.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

p{
  font-family: 'Charter'
}
.boldtext{
  font-weight: bold;
}
.top-test{
  font-size:23px;
}
.bluespan{
  color: #39B1D9!important;
}

.registertitle{
  font-size:21px;
  color:#666666;

}

.titleAll{
  font-size:23px;
  font-weight: bold;
}

.topsearch-text{
  color: white !important;
  font-weight: bold;
  font-size:21px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

  @font-face {
    font-family: 'Charter';
    src: url(./font/charter.otf) format('otf');
  }

  body{
    font-family: 'Charter'
  }

  .svg-stile{
    mix-blend-mode: multiply;
    isolation: isolate;

   }

   .svg-stile2{
    mix-blend-mode: screen;
    isolation: isolate;
   }

   .paragrafidivisi{
     display: flex;
     flex-direction: row;
   }